.card {
  width: 100%;
}

.card img {
  width: 100%;
  height: 300px;
}

.card p{
  margin: 0 0 15px 0;
}

@media (max-width: 412px) {
  .card {
    width: 100%;
  }
}
@media (max-width: 768px) {
  .card {
    width: 49%;
  }
}
@media (max-width: 1254px) {
  .card {
    width: 33%;
  }
}
@media (min-width: 1255px) {
  .card {
    width: 24%;
  }
}
